* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background-color: #FFF44F;
    background-image: url("images/day.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 35%;
    background-attachment: fixed; 
    color: #191970;
    transition: background 0.4s, color 0.4s;
}

body.dark {
    background-color: hsl(240, 64%, 27%);
    background-image: url("images/night.jpg");
    color: #FFF44F;
}


.box {
    padding: 20px;
    border: 1px solid currentColor;
}

button {
    background: transparent;
    color: inherit;
    border: 1px solid currentColor;
    padding: 8px 16px;
    /* 8px top and bottom, 16px left and right*/

    /*
    padding: 10px;                 all four sides 
    padding: 8px 16px;             top/bottom, left/right 
    padding: 8px 16px 12px;        top, left/right, bottom
    padding: 8px 16px 12px 4px;    top, right, bottom, left
    */
    cursor: pointer;
    transition: background 0.4s, color 0.4s;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid currentColor;
    background-color: inherit;
}

main {
    /* flex: 1; */
    padding: 20px;
    /* Padding is space inside an element, between its content
    and its border
    Margin is outside the border 
    */
}

.page {
    display: none;
}

.page.active {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    background: none;
    padding: 0;
}

.paragraph {
    background-color: rgba(255,255,255,0.85);
    
    padding: 20px 24px;
    border-radius: 8px;
    margin-bottom: 20px;
}

body.dark .paragraph {
    background-color: rgba(0,0,0,0.6);
}

.nav-link.current {
    font-weight: bold;
}

.nav-link:hover {
    background-color: #FFF44F;
    color: hsl(240, 64%, 27%);
}

body:not(.dark) .nav-link:hover {
    background-color: #191970;
    color: #FFF44F;
}

.theme-btn {
    margin-left: auto;
}

.theme-btn:hover {
    background-color: #FFF44F;
    color: hsl(240, 64%, 27%);
}

body:not(.dark) .theme-btn:hover {
    background-color: #191970;
    color: #FFF44F;
}

img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin-top: 10px;
    align-self: center;
    /*
    align-self can take same values as align-items
    align-items goes on flex container and sets default for the children
    align-self goes on an individual child and overrides the default
    */
}